<!--footer area starts--> 
<div class="footer-area">
<div class="container">
    <div class="row footercontent">
        <div class="col-sm-8">
        	<a title="facebook" href="#" target="_blank" class="social"><i class="fa fa-facebook"></i></a>
        </div>
        
    </div>
</div>
</div>
 <!--footer area Ends-->